<h3> Информация по бэйджу </h3>


<p> <strong> Автор: </strong>
  <%= User.where(id: @badge.user_id)[0].login%>
</p>
<p> <strong> Название: </strong>
  <%= @badge.title%>
</p>
<p> <strong> Награда: </strong>
  <%= @badge.reward_link%>
</p>
<p> <strong> За что: </strong>
  <%= Rule.where(id: @badge.rule_id)[0].title%>
</p>
