<% if resource.present? && resource.errors.present? %>
    <%= content_tag :div, class: 'resource-errors', data: { resource_id: resource.id } do %>
        <h2> 
             <%= t('.header', count: resource.errors.count)%> :
        </h2>

        <ul>
            <% resource.errors.full_messages.each do |message| %>
            <li> <div class="alert alert-danger" role="alert">
                    <%= message%>
                 </div>
            </li>
            <%end%>
        <ul>
    <%end%>
<%end%>