
<div class="footer">
  <hr>
      Project: <%= github_url('yuriskorobogatov', 'Test-Guru') %> created by Real_imp &reg; <%= current_year %> <br>
      это учебный проект в онлайн-школе  <a href="https://thinknetica.com/" target="blank">Thinknetica</a> <br>
       представляющий собой интерактивный тест для техников и монтажников кабельного телевидения
<div>