<h1>Editing Answer</h1>

<%= render 'form', answer: @answer %>

<%= link_to 'Show', admin_answer_path %> |
<<<<<<< HEAD
<%= link_to 'Back', admin_question_path(@answer.question) %>
=======
<%= link_to 'Back', admin_answer_path %>
>>>>>>> 67939b91a2eed1f352920c9b71b45dea3d3da2ed
