<<<<<<< HEAD
@import "bootstrap";
=======
@import "bootstrap";
@import "test_passages";

.footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 110px;
  }
>>>>>>> 64a4c6922a6c5fde3ad32dae046973fe7e0c4d19
