// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red {
    color: red;
}

.green {
    color: green;
}

#myProgress {
    width: 100%;
    background-color: rgb(204, 196, 196);
  }
  
#myBar {
  width: 1%;
  height: 30px;
  background-color: rgb(81, 243, 66);
}