// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red {
    color: red;
}

.green {
    color: green;
}

#myProgress {
    width: 100%;
    background-color: rgb(219, 213, 213);
}
  
#myBar {
    width: 1%;
    height: 30px;
    background-color: rgb(50, 231, 50);
}

#myProgressResult {
    width: 100%;
    background-color: rgb(219, 213, 213);
}
  
#myBarResult {
    width: 1%;
    height: 30px;
    background-color: rgb(50, 231, 50);
}